{% extends "base.html" %}
{% block content %}
        <h1>Schedules:</h1>
        <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>enabled</th>
            <th>radio frequency</th>
            <th>cron schedule</th>
          </tr>
        </thead>
        <tbody>
          {% for schedule in schedules %}

          <tr>
            <td><a href="/schedule/{{ schedule.id }}">{{ schedule.name }}</a></td>
            <td>{% if schedule.enabled %}
                   <span data-toggle="tooltip" title="schedule is active" class="glyphicon glyphicon-ok" style="color:green"></span>
                {% else %}
                   <span data-toggle="tooltip" title="schedule is not active" class="glyphicon glyphicon-remove" style="color:red"></span>
                {% endif %}
            </td>
            <td>{{ schedule.frequency }}</td>
            <td>{{ schedule.cron_schedule }}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
{% endblock %}