{% extends "base.html" %}
{% block content %}
        <h1>Recordings for '{{ schedule.name }}':</h1>
        <table class="table">
        <thead>
          <tr>
            <th>created</th>
            <th>playback</th>
          </tr>
        </thead>
        <tbody>
          {% for recording in schedule.recordings %}
          <tr>
            <td>{{ recording.created }}</td>
            <td>
              <audio controls>
                <source type="audio/mp3" src="/{{ recording.recorded_file }}">
              </audio>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
{% endblock %}